@using System.Globalization
@{
    double[][] input = ViewBag.Input;
    double[] result = ViewBag.Result;
}
<table id="res" class="table table-bordered table-hover">
    <thead>
        <tr>
            @for (int i = 0; i < result.Length; i++)
            {
                <th>
                    @i
                </th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var t in result)
            {
                <td>
                    @t.ToString("P2")
                </td>
            }
        </tr>
    </tbody>

</table>
<div id="normalized">
    @for (int i = 0; i < input.Length; i++)
    {
        for (int j = 0; j < input[i].Length; j++)
        {
            <div class="pixel" style="opacity: @input[i][j].ToString(CultureInfo.InvariantCulture)"></div>
        }
        <br>
    }
</div>



