
@{
    Layout = Url.Content("../Shared/_Layout.cshtml");
}

<canvas id="can" width="500" height="500" style="border: 1px solid black;"></canvas>
<input type="button" value="save" id="btn" size="30" onclick="save()">
<input type="button" value="clear" id="clr" size="23" onclick="erase()">
<div id="results"></div>
