<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Web application for clasifying handwritten digits">
    <meta name="author" content="Jiří Vlasák">
    <title>Handwritten number clasifier</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")"/>

</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Handwritten number clasifier</h1>
        <p>On this website you can draw a digit on the canvas and let a Neural network guess which digit you wrote.</p>
    </div>
</div>
<main role="main" class="container">
    @RenderBody()
</main>
<footer>
    <p class="text-center">Website made by Jiří Vlasák</p>
    <p class="text-center"><a href="https://github.com/Vnulartex/MnistWebApp">Github repo</a></p>
</footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script type="text/javascript" src=@Url.Content("~/Scripts/jquery-3.3.1.min.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/ResponsiveCanvas.js")></script>
</body>
</html>