<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Fixed top navbar example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")"/>

</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Canvas number clasifier</h1>
        <p>Tincidunt integer eu augue augue nunc elit dolor,
            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
    </div>
</div>
<main>
    @RenderBody()
</main>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script type="text/javascript" src=@Url.Content("~/Scripts/jquery-3.3.1.min.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/ResponsiveCanvas.js")></script>
</body>
</html>