
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <script type="text/javascript" src="~/Scripts/canvas.js"></script>
        <title>Index</title>
    </head>
    <body onload="init()">
        <canvas id="can" width="200" height="200"  style="border: 1px solid black;"></canvas>
        <input type="button" value="save" id="btn" size="30" onclick="save()">
        <input type="button" value="clear" id="clr" size="23" onclick="erase()">
    </body>
</html>
